<div class="forja-start-dialog">
  <p>{{localize "FORJA.Combat.AmbushHint"}}</p>
  <div class="forja-start-dialog__combatants">
    {{#each combatants}}
    <label class="forja-start-dialog__combatant">
      <input type="checkbox" class="forja-ambush-check" data-combatant-id="{{this.id}}" />
      {{this.name}}
    </label>
    {{/each}}
  </div>
</div>
