<section class="forja-attributes tab" data-group="primary" data-tab="attributes">
  {{!-- Derived stats --}}
  {{> "systems/forja/templates/actor/parts/derived-stats.hbs"}}

  {{!-- Wound/fatigue tracker --}}
  {{> "systems/forja/templates/actor/parts/wound-fatigue-tracker.hbs"}}
</section>
