<section class="tab forja-placeholder" data-group="sheet" data-tab="dons">
  <div class="placeholder-msg">
    <i class="fas fa-star"></i>
    <p>Dons Sobrenaturals · Equilibri · Efectes</p>
    <small>Onada 4</small>
  </div>
</section>
